{%  extends 'base.html.twig' %}

{% block stylesheets %}
        <head>
                <link rel="stylesheet" href="{{ asset('styles/register-style.css') }}">
        </head>
{% endblock %}

{% block title "Se connecter - Le quai antique" %}
{% block body %}
        <div class="jumbotron text-center">
                <h1>Se connecter</h1>
        </div>
{% if error %}
        <div class="alert alert-danger">{{ error.messageKey | trans(error.messagedata, 'security') }}</div>
{% endif %}
  <div class="container mb-4">
    <div class="row d-flex justify-content-center">
      <div class="col-4">
        <form method="post">
                <label for="username">Nom d'utilisateur</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" required>

                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="_password" class="form-control" required />

                <input type="hidden" name="_target_path" value="/"/>
        
                <button type="submit" class="btn btn-primary mt-3">Connexion</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
