{%  extends 'base.html.twig' %}

{% block title %}Liste des réservations{% endblock %}

{% block stylesheets %}
        <head>
                <link rel="stylesheet" href="{{ asset('styles/wp-style.css') }}">
        </head>
{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row p-0">
    <div id="loader"></div>

      <div class="card col-3" style="width: 18rem;">
      <h4>ABIVAX</h4>
        <div class="card-body">
          <a href="https://www.abivax.com/wp-json/wp/v2/media" target="_blank" class="card-link">Lien direct</a>
        </div>
      </div>
      
      <div class="card col-3" style="width: 18rem;">
      <h4>AB SCIENCES</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateAbs"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugAbs"></h6>
          <a href="" target="_blank" class="card-link" id="linkAbs">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceAbs">Fichier joint</a>
        </div>
      </div>

            <div class="card col-3" style="width: 18rem;">
      <h4>ACTEOS</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateAct"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugAct"></h6>
          <a href="" target="_blank" class="card-link" id="linkAct">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceAct">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>ADOCIA</h4>
        <div class="card-body">
          <a href="https://www.adocia.com/wp-json/wp/v2/media" target="_blank" class="card-link">Lien direct</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>ADUX</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateAdu"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugAdu"></h6>
          <a href="" target="_blank" class="card-link" id="linkAdu">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceAdu">Fichier joint</a>
        </div>
      </div>

      
      <div class="card col-3" style="width: 18rem;">
      <h4>ADVICENNE</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateAdv"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugAdv"></h6>
          <a href="" target="_blank" class="card-link" id="linkAdv">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceAdv">Fichier joint</a>
        </div>
      </div>
            
      <div class="card col-3" style="width: 18rem;">
      <h4>ADVINI</h4>
        <div class="card-body">
          <a href="https://www.advini.fr/wp-json/wp/v2/media" target="_blank" class="card-link">Lien direct</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>AFYREN</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateAfy"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugAfy"></h6>
          <a href="" target="_blank" class="card-link" id="linkAfy">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceAfy">Fichier joint</a>
        </div>
      </div>
            
      <div class="card col-3" style="width: 18rem;">
      <h4>AKKA</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateAkk"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugAkk"></h6>
          <a href="" target="_blank" class="card-link" id="linkAkk">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceAkk">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>AKWEL</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateAkw"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugAkw"></h6>
          <a href="" target="_blank" class="card-link" id="linkAkw">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceAkw">Fichier joint</a>
        </div>
      </div>
      
      <div class="card col-3" style="width: 18rem;">
      <h4>AMOEBA-NATURE</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateAmo"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugAmo"></h6>
          <a href="" target="_blank" class="card-link" id="linkAmo">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceAmo">Fichier joint</a>
        </div>
      </div>
            
      <div class="card col-3" style="width: 18rem;">
      <h4>ARGAN</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateArg"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugArg"></h6>
          <a href="" target="_blank" class="card-link" id="linkArg">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceArg">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>ATARI</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateAta"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugAta"></h6>
          <a href="" target="_blank" class="card-link" id="linkAta">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceAta">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>AUBAY</h4>
        <div class="card-body">
          <a href="https://www.aubay.com/wp-json/wp/v2/media" target="_blank" class="card-link" id="linkAub">Lien direct</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>AUGROS</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateAug"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugAug"></h6>
          <a href="" target="_blank" class="card-link" id="linkAug">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceAug">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>BAIKOWSKI</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateBai"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugBai"></h6>
          <a href="" target="_blank" class="card-link" id="linkBai">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceBai">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>BASSAC</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateBass"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugBass"></h6>
          <a href="" target="_blank" class="card-link" id="linkBass">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceBass">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>BASTIDE</h4>
        <div class="card-body">
          <a href="https://bastide-groupe.fr/wp-json/wp/v2/media" target="_blank" class="card-link">Lien direct</a>
        </div>
      </div>
      
      <div class="card col-3" style="width: 18rem;">
      <h4>BIOPHYTIS</h4>
        <div class="card-body">
          <a href="https://www.biophytis.com/wp-json/wp/v2/media" target="_blank" class="card-link" id="linkBio">Lien direct</a>
        </div>
      </div>
            
      <div class="card col-3" style="width: 18rem;">
      <h4>BIO-UV</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateBioUv"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugBioUv"></h6>
          <a href="" target="_blank" class="card-link" id="linkBioUv">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceBioUv">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>BONDUELLE</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateBon"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugBon"></h6>
          <a href="" target="_blank" class="card-link" id="linkBon">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceBon">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>BOUYGUES</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateBou"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugBou"></h6>
          <a href="" target="_blank" class="card-link" id="linkBou">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceBou">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>BURELLE</h4>
        <div class="card-body">
          <a href="https://www.burelle.fr/wp-json/wp/v2/media" target="_blank" class="card-link">Lien direct</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>CAFOM</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateCaf"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugCaf"></h6>
          <a href="" target="_blank" class="card-link" id="linkCaf">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceCaf">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>CARBIOS</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateCar"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugCar"></h6>
          <a href="" target="_blank" class="card-link" id="linkCar">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceCar">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>CHARGEURS</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateCha"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugCha"></h6>
          <a href="" target="_blank" class="card-link" id="linkCha">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceCha">Fichier joint</a>
        </div>
      </div>
            
      <div class="card col-3" style="width: 18rem;">
      <h4>CIBOXCORP</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateCib"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugCib"></h6>
          <a href="" target="_blank" class="card-link" id="linkCib">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceCib">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>CIMENTS-HOFFMANN</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateCim"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugCim"></h6>
          <a href="" target="_blank" class="card-link" id="linkCim">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceCim">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>COHERIS</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateCor"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugCor"></h6>
          <a href="" target="_blank" class="card-link" id="linkCor">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceCor">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>COMPAGNIE LEBON</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateCom"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugCom"></h6>
          <a href="" target="_blank" class="card-link" id="linkCom">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceCom">Fichier joint</a>
        </div>
      </div>
            
      <div class="card col-3" style="width: 18rem;">
      <h4>COVIVIO</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateCov"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugCov"></h6>
          <a href="" target="_blank" class="card-link" id="linkCov">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceCov">Fichier joint</a>
        </div>
      </div>
            
      <div class="card col-3" style="width: 18rem;">
      <h4>COURTOIS</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateCou"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugCou"></h6>
          <a href="" target="_blank" class="card-link" id="linkCou">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceCou">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>CR. AGRI</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateCa"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugCa"></h6>
          <a href="" target="_blank" class="card-link" id="linkCa">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceCa">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>CRITEO</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateCri"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugCri"></h6>
          <a href="" target="_blank" class="card-link" id="linkCri">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceCri">Fichier joint</a>
        </div>
      </div>
      
      <div class="card col-3" style="width: 18rem;">
      <h4>DBV</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateDbv"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugDbv"></h6>
          <a href="" target="_blank" class="card-link" id="linkDbv">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceDbv">Fichier joint</a>
        </div>
      </div>
      
      <div class="card col-3" style="width: 18rem;">
      <h4>DEKUPLE</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateDek"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugDek"></h6>
          <a href="" target="_blank" class="card-link" id="linkDek">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceDek">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>DMS</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateDms"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugDms"></h6>
          <a href="" target="_blank" class="card-link" id="linkDms">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceDms">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>DOLFINES</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateDol"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugDol"></h6>
          <a href="" target="_blank" class="card-link" id="linkDol">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceDol">Fichier joint</a>
        </div>
      </div>

      
      <div class="card col-3" style="width: 18rem;">
      <h4>ECOSLOPS</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateEco"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugEco"></h6>
          <a href="" target="_blank" class="card-link" id="linkEco">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceEco">Fichier joint</a>
        </div>
      </div>
      
      <div class="card col-3" style="width: 18rem;">
      <h4>ENOGIA</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateEno"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugEno"></h6>
          <a href="" target="_blank" class="card-link" id="linkEno">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceEno">Fichier joint</a>
        </div>
      </div>
            
      <div class="card col-3" style="width: 18rem;">
      <h4>EPC-GROUP</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateEpc"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugEpc"></h6>
          <a href="" target="_blank" class="card-link" id="linkEpc">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceEpc">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>EQUASENS</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateEqu"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugEqu"></h6>
          <a href="" target="_blank" class="card-link" id="linkEqu">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceEqu">Fichier joint</a>
        </div>
      </div>
      
      <div class="card col-3" style="width: 18rem;">
      <h4>ERAMET</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateEra"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugEra"></h6>
          <a href="" target="_blank" class="card-link" id="linkEra">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceEra">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>ERYTECH</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateEry"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugEry"></h6>
          <a href="" target="_blank" class="card-link" id="linkEry">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceEry">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>EXCLUSIVE NETWORK</h4>
        <div class="card-body">
          <a href="https://www.exclusive-networks.com/wp-json/wp/v2/media" target="_blank" class="card-link">Lien direct</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>FAUVET-GIREL</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateFau"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugFau"></h6>
          <a href="" target="_blank" class="card-link" id="linkFau">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceFau">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>FERMENTALG</h4>
        <div class="card-body">
          <a href="https://www.fermentalg.com/wp-json/wp/v2/media" target="_blank" class="card-link">Lien direct</a>
        </div>
      </div>
      
      <div class="card col-3" style="width: 18rem;">
      <h4>FNAC</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateFna"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugFna"></h6>
          <a href="" target="_blank" class="card-link" id="linkFna">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceFna">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>FONCIERE INEA</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateFon"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugFon"></h6>
          <a href="" target="_blank" class="card-link" id="linkFon">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceFon">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>FRANCAISE DE L'ENERGIE</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateFra"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugFra"></h6>
          <a href="" target="_blank" class="card-link" id="linkFra">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceFra">Fichier joint</a>
        </div>
      </div>
      
      <div class="card col-3" style="width: 18rem;">
      <h4>FREY</h4>
        <div class="card-body">
          <a href="https://www.frey.fr/wp-json/wp/v2/media" target="_blank" class="card-link">Lien direct</a>
        </div>
      </div>
     
      <div class="card col-3" style="width: 18rem;">
      <h4>FSDV</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateFsd"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugFsd"></h6>
          <a href="" target="_blank" class="card-link" id="linkFsd">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceFsd">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>GENOMIC</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateGen"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugGen"></h6>
          <a href="" target="_blank" class="card-link" id="linkGen">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceGen">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>GERARD PER.</h4>
        <div class="card-body">
          <a href="https://www.gerard-perrier.com/wp-json/wp/v2/media" target="_blank" class="card-link">Lien direct</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>GR. GORGE</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateGor"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugGor"></h6>
          <a href="" target="_blank" class="card-link" id="linkGor">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceGor">Fichier joint</a>
        </div>
      </div>
      
      <div class="card col-3" style="width: 18rem;">
      <h4>GRAINES VOLTZ</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateVol"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugVol"></h6>
          <a href="" target="_blank" class="card-link" id="linkVol">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceVol">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>HUNYVERS</h4>
        <div class="card-body">
          <a href="https://www.hunyvers.com/wp-json/wp/v2/media" target="_blank" class="card-link">Lien direct</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>IMAGOTAG</h4>
        <div class="card-body">
          <a href="https://www.ses-imagotag.com/wp-json/wp/v2/media" target="_blank" class="card-link">Lien direct</a>
        </div>
      </div>
      
      <div class="card col-3" style="width: 18rem;">
      <h4>INFOTEL</h4>
        <div class="card-body">
          <a href="https://www.infotel.com/wp-json/wp/v2/media" target="_blank" class="card-link">Lien direct</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>INTEXA</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateInt"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugInt"></h6>
          <a href="" target="_blank" class="card-link" id="linkInt">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceInt">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>IPSEN</h4>
        <div class="card-body">
          <a href="https://www.ipsen.com/fr/wp-json/wp/v2/media" target="_blank" class="card-link">Lien direct</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>KLARSEN</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateKla"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugKla"></h6>
          <a href="" target="_blank" class="card-link" id="linkKla">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceKla">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>LNA</h4>
        <div class="card-body">
          <a href="https://www.lna-sante.com/wp-json/wp/v2/media" target="_blank" class="card-link">Lien direct</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>LUMIBIRD</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateLum"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugLum"></h6>
          <a href="" target="_blank" class="card-link" id="linkLum">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceLum">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>MANITOU</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateMan"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugMan"></h6>
          <a href="" target="_blank" class="card-link" id="linkMan">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceMan">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>MC PHY</h4>
        <div class="card-body">
          <a href="https://www.mcphy.com/wp-json/wp/v2/media" target="_blank" class="card-link">Lien direct</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>MEDINCELL</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateMed"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugMed"></h6>
          <a href="" target="_blank" class="card-link" id="linkMed">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceMed">Fichier joint</a>
        </div>
      </div>
      
      <div class="card col-3" style="width: 18rem;">
      <h4>MEMSCAP</h4>
        <div class="card-body">
          <a href="https://www.memscap.com/wp-json/wp/v2/media" target="_blank" class="card-link" id="linkMem">Lien direct</a>
        </div>
      </div>
      
      <div class="card col-3" style="width: 18rem;">
      <h4>MICROPOLE</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateMic"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugMic"></h6>
          <a href="" target="_blank" class="card-link" id="linkMic">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceMic">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>NICOX</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateNic"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugNic"></h6>
          <a href="" target="_blank" class="card-link" id="linkNic">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceNic">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>NOVACYT</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateNov"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugNov"></h6>
          <a href="" target="_blank" class="card-link" id="linkNov">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceNov">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>OENO</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateOen"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugOen"></h6>
          <a href="" target="_blank" class="card-link" id="linkOen">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceOen">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>ORPEA</h4>
        <div class="card-body">
          <a href="https://www.orpea-corp.com/wp-json/wp/v2/media" target="_blank" class="card-link">Lien direct</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>OSE</h4>
        <div class="card-body">
          <a href="https://www.ose-immuno.com/wp-json/wp/v2/media" target="_blank" class="card-link">Lien direct</a>
        </div>
      </div>
      
      <div class="card col-3" style="width: 18rem;">
      <h4>PAT. COMMERCE</h4>
        <div class="card-body">
          <h5 class="card-title" id="datePat"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugPat"></h6>
          <a href="" target="_blank" class="card-link" id="linkPat">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourcePat">Fichier joint</a>
        </div>
      </div>
      
      <div class="card col-3" style="width: 18rem;">
      <h4>PAREF</h4>
        <div class="card-body">
          <h5 class="card-title" id="datePar"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugPar"></h6>
          <a href="" target="_blank" class="card-link" id="linkPar">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourcePar">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>PHARMAGEST</h4>
        <div class="card-body">
          <a href="https://www.pharmagest.com/wp-json/wp/v2/media" target="_blank" class="card-link">Lien direct</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>PIXIUM</h4>
        <div class="card-body">
          <h5 class="card-title" id="datePix"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugPix"></h6>
          <a href="" target="_blank" class="card-link" id="linkPix">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourcePix">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>PLASTICOMNIUM</h4>
        <div class="card-body">
          <h5 class="card-title" id="datePlas"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugPlas"></h6>
          <a href="" target="_blank" class="card-link" id="linkPlas">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourcePlas">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>PLASTIVALOIRE</h4>
        <div class="card-body">
          <h5 class="card-title" id="datePla"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugPla"></h6>
          <a href="" target="_blank" class="card-link" id="linkPla">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourcePla">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>PRECIAMOLEN</h4>
        <div class="card-body">
          <h5 class="card-title" id="datePre"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugPre"></h6>
          <a href="" target="_blank" class="card-link" id="linkPre">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourcePre">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>RECYLEX</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateRec"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugRec"></h6>
          <a href="" target="_blank" class="card-link" id="linkRec">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceRec">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>REMY COINTREAU</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateRem"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugRem"></h6>
          <a href="" target="_blank" class="card-link" id="linkRem">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceRem">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>ROBERTET</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateRob"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugRob"></h6>
          <a href="" target="_blank" class="card-link" id="linkRob">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceRob">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>SELECTIRENTE</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateSel"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugSel"></h6>
          <a href="" target="_blank" class="card-link" id="linkSel">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceSel">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>SIDE TRADE</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateSid"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugSid"></h6>
          <a href="" target="_blank" class="card-link" id="linkSid">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceSid">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>SOLUTIONS 30</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateSol"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugSol"></h6>
          <a href="" target="_blank" class="card-link" id="linkSol">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceSol">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>SODITECH</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateSod"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugSod"></h6>
          <a href="" target="_blank" class="card-link" id="linkSod">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceSod">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>SPINEGUARD</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateSpin"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugSpin"></h6>
          <a href="" target="_blank" class="card-link" id="linkSpin">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceSpin">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>THERACLION</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateThe"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugThe"></h6>
          <a href="" target="_blank" class="card-link" id="linkThe">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceThe">Fichier joint</a>
        </div>
      </div>
      
      <div class="card col-3" style="width: 18rem;">
      <h4>THERMADOR</h4>
        <div class="card-body">
          <a href="https://www.thermador-groupe.com/wp-json/wp/v2/media" target="_blank" class="card-link">Lien direct</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>TRANSGENE</h4>
        <div class="card-body">
          <h5 class="card-title" id="date"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slug"></h6>
          <a href="" target="_blank" class="card-link" id="link">Lien média</a>
          <a href="" target="_blank" class="card-link" id="source">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>VALERIOTX</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateVale"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugVale"></h6>
          <a href="" target="_blank" class="card-link" id="linkVale">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceVale">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>VALNEVA</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateVal"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugVal"></h6>
          <a href="" target="_blank" class="card-link" id="linkVal">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceVal">Fichier joint</a>
        </div>
      </div>

      <div class="card col-3" style="width: 18rem;">
      <h4>VERALLIA</h4>
        <div class="card-body">
          <a href="https://www.verallia.com/wp-json/wp/v2/media" target="_blank" class="card-link">Lien direct</a>
        </div>
      </div>
      
      <div class="card col-3" style="width: 18rem;">
      <h4>VISIATIV</h4>
        <div class="card-body">
          <a href="https://www.visiativ.com/wp-json/wp/v2/media" target="_blank" class="card-link">Lien direct</a>
        </div>
      </div>
      
      <div class="card col-3" style="width: 18rem;">
      <h4>VITURA</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateVit"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugVit"></h6>
          <a href="" target="_blank" class="card-link" id="linkVit">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceVit">Fichier joint</a>
        </div>
      </div>
      <div class="card col-3" style="width: 18rem;">
      <h4>WAGA-ENERGY</h4>
        <div class="card-body">
          <h5 class="card-title" id="dateWag"></h5>
          <h6 class="card-subtitle mb-2 text-muted" id="slugWag"></h6>
          <a href="" target="_blank" class="card-link" id="linkWag">Lien média</a>
          <a href="" target="_blank" class="card-link" id="sourceWag">Fichier joint</a>
        </div>
      </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
  <script src="{{ asset('scripts/wp-script.js') }}"></script>
{% endblock %}