{%  extends 'base.html.twig' %}

{% block stylesheets %}
        <head>
                <link rel="stylesheet" href="{{ asset('styles/book-style.css') }}">
        </head>
{% endblock %}

{% block title "S'inscrire - Le quai antique" %}
{% block body %}
        <div class="jumbotron text-center mt-4">
                <img src="{{asset('uploads/Logo_paint.jpg')}}" class="img-fluid" alt="Restaurant le Quai Antique, logo">
        </div>
        <main>
                <article class="container confirm">
                        <div class="row d-flex justify-content-center">
                                <div class="col-sm-12 col-md-6">
                                        <p class="text-center mt-2">Votre réservation a bien été enregistrée, à bientôt</p>
                                </div>
                        </div>
                </article>
        </main>
{% endblock %}
{% block javascript %}
        <script src="{{ asset('scripts/register-script.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
{% endblock %}