.address {
    margin : 0;
}

body {
    display: flex;
    flex-direction: column;
}

.btn {
    color: #473c57;
    border-color: #f9f5f4;
    font-weight: bold;
}

.btn:hover {
    color:  #f9f5f4;
    background-color: #a35e4c;
}

.day {
    font-weight: bold;
    color:#a35e4c;
}

.footer {
    background-color: #473c57;
    color:#f9f5f4;
}

html, body {
    height: 100%;
}

main {
    flex-grow: 1;
}

.navbarMain {
    background-color: #754d51;
    font-weight: bold;
}

.nav-link {
    color: #f9f5f4;
}

.pre-nav {
    background-color: #473c57;
    color: #f9f5f4;
    margin : 0;
    font-weight: bold;
}

.pre-nav a {
    color: #a35e4c;
}

.pre-nav a:hover {
    color: #f9f5f4;
}

.rs {
    position: fixed; 
    display: flex;
    bottom: 0;
    right: 0;
    margin-bottom: 15px;
    margin-right: 10px;
}

.tables {
    display: none;
}

ul {
    font-size: 18px;
}

