.pre-nav {
    background-color: #473c57;
    color: #f9f5f4;
    margin : 0;
    font-weight: bold;
}

.pre-nav a {
    color: #a35e4c;
}

.pre-nav a:hover {
    color: #f9f5f4;
}

.btn {
    color: #473c57;
    border-color: #f9f5f4;
    font-weight: bold;
}

.btn:hover {
    color:  #f9f5f4;
    background-color: #a35e4c;
}

.address {
    margin : 0;
}

.day {
    font-weight: bold;
    color:#a35e4c;
}

.navbarMain {
    background-color: #754d51;
    font-weight: bold;
}

.footer {
    background-color: #473c57;
    color:#f9f5f4;
}

.tables {
    display: none;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}
main {
    flex-grow: 1;
}
