article, form {
    background :linear-gradient(white, #f3dcd6);
    padding: 10px;
    border-radius: 5%;
    border: 2px solid #473c57;
}

.btn {
    color: white;
}

.confirm {
    margin-top: 180px;
}

.form {
    margin-left: auto;
    margin-right: auto;
    width: 600;
}

h1 {
    color : #473c57;
}

img {
    text-align: center;
    clear:left;
}

.intro {
    color : white;
}

main {
    background: linear-gradient(#754d51, #a35e4c);
    color : #473c57;
    font-weight: 600;
    font-size: 1.5rem;
}

.value {
    color:#a35e4c
}