main {
    color: #f9f5f4;   
    list-style-type: none;
    margin-top: 40px;
}

h1 {
    color:#754d51;
    font-family: 'Franklin Gothic Demi', sans-serif;
}

.jumbotron {
    width : 600px;
    height : auto;
}

.card {
    color: #754d51;
    border: 2px solid #754d51;
    background-color: #f8d2d7;
}

h2 {
    color:#8d95d8;
    font-family: 'Style Script', cursive;
    font-size: 3rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

.mainLi {
    text-align: center;
}

.card a {
    color: #754d51;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #8d95d8;
}

.card-title {
    color:#8d95d8;
}

.price {
    font-size: 1.8rem;
    font-weight: 250;
    color:black;
}

.card-footer {
    background-color: white;
}