main .btn {
    color: white;
}

.form {
    margin-left: auto;
    margin-right: auto;
    width: 600;
}

h1 {
    color:#754d51;
    font-family: 'Lobster Two', cursive;
}

.icon {
    margin-bottom: 2;
    margin-right: 2;
    float: left;
}

.login {
    margin-top: 70px;
}

.logo {
    text-align: center;
    clear: left;
}

main {
    color : #473c57;
    font-weight: 600;
    font-size: 1.2rem;
    font-family: 'Muli', sans-serif;
}