{%  extends 'base.html.twig' %}
{% block body %}
            <div class="containerBody">
                <div class="container pt-4 fs-4 pb-5">
                    <main class="row">
                        <div class="col card me-5 p-0 ms-5">
                            <img src="img/img1.jpg" alt="illustration" class="card-img">
                            <div class="card-body">
                                    <h4 class="card-title" style="color: #f85104">Zéro faute...</h4>
                                    <p class="card-text text-center">Au secours des hésitants de l'orthographe, des traumatisés des dictées, des phobiques des <strong>règles de français</strong>, nous vous proposons de dédramatiser tout cela en vous donnant les clés et astuces pour vous en sortir à l'écrit</p>
                            </div>
                        </div>
                        <div class="col card ms-5 p-0">
                            <div class="card-body">
                                <h4 class="card-title" style="color: #f85104">Les dernières astuces</h4>
                                <p class="card-text"></p>
                                  <div class="d-flex flex-column align-items-center">
                                    {% for r in lastR %}
                                        <div class="card lastR">
                                        <a href=/{{ r.slug }} class="text-decoration-none"><button class="btnHome">{{ r.name }}</button></a>
                                        </div>
                                    {% endfor %}
                                  </div>
                            </div>
                            <img src="img/img2.jpg" alt="illustration" class="card-img-bottom">
                        </div>
                    </main>
                </div>
            </div>
    {% block javascript %}
        <script src="{{ asset('scriptSearch.js') }}"></script>
    {% endblock %}
{% endblock %}
